<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.uapv.rrodriguez.tp2_meteo2">

    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CityView"
            android:label="@string/title_activity_city_view" />
        <activity
            android:name=".AddCityActivity"
            android:label="@string/title_activity_city_add" />

        <!-- Déclaration du Provider pour accèder à l'information des villes en BDD -->
        <provider
            android:name=".provider.WeatherContentProvider"
            android:authorities="fr.uapv.rrodriguez.tp2_meteo2.provider"
            android:enabled="true"
            android:exported="false"
            android:label="TP2 Météo2. Provider pour accéder à l'information météo des villes en BDD"></provider>

        <!-- Déclaration du Service qui va créer l'instance de l'Athenticator -->
        <service
            android:name=".syncadapter.YahooWeatherAuthService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/yahoo_weather_authenticator" />
        </service>

        <!-- Déclaration du Service qui va intéragir avec le sync adapter framework -->
        <service
            android:name=".syncadapter.YahooWeatherSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>